<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../favicon.png" />
    <title>Funcionários - Início</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap-vue.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/font-awesome.css">

</head>

<body>
    <div class="container2">
        <div class="header-titulo">

            <div>
                <h1>Lista dos Funcionarios</h1>
            </div>
            <div class="row">
                <div class="form-group col-sm-12 col-md-12">
                    <nav class="navbar navbar-light bg-light">
                        <form class="form-inline">
                            &nbsp; <a href="/funcionarios/pages/novo-funcionario.html" type="button" class="btn btn-primary">Novo Funcionario<span
					class="fa fa-plus-square icon-espaco"></span></a>
                        </form>
                    </nav>
                </div>
            </div>
        </div>
        <div id="inicio" class="body-conteudo panel panel-default">

            <div class="row pesquisa">
                <div class="col-sm-12 col-md-12">
                    <input type="text" class="form-control text-uppercase" placeholder="Pesquisa por nome" v-on:keyup="pesquisarFuncionarios" v-model="funcionarioPesquisado" />

                </div>
            </div>

            <table class="table">
                <tr>
                    <th>Nome</th>
                    <th>Setor</th>
                    <th>Salário</th>
                    <th>Email</th>
                    <th>Idade</th>
                    <th>Ações</th>

                </tr>
                <tbody id="event-table">
                    <tr v-for="funcionario in listaFuncionarios">
                        <td>{{ funcionario.nome }}</td>
                        <td>{{ funcionario.setor.nome }}</td>
                        <td>R$&nbsp;{{ formatSalario(funcionario.salario) }}</td>
                        <td><span class="badge badge-success">{{
								funcionario.email }}</span></td>
                        <td><span class="badge badge-pill badge-info">{{
								funcionario.idade }}</span></td>
                        <td clas>
                            <a href="#" class="btn btn-secondary btn-sm fa fa-pencil-square-o" v-on:click="editarFuncionario(funcionario)"></a> &nbsp;
                            <a href="#" class="btn btn-danger btn-sm fa fa-trash-o" v-on:click="excluirFuncionario(funcionario)"></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!--
            <div class="teste">
                <div class="col-sm-12 col-md-12 input-group-sm">
                    <select class="custom-select custom-select-sm control-label" v-model="quantidadeRegistros" v-on:change="process">
						<option>1</option>
						<option>10</option>
						<option>20</option>
						<option>30</option>
						<option selected>TODOS</option>
					</select>

                     <input type=" text" class="form-control" id="setor" v-model="funcionario.setorDTO.nome" /> 
                </div>
           -->

            <hr>
            <div class="center">
                <h6>Total : {{quantidadeFuncionariosRegistrados}} Funcionários Registrados</h6>
            </div>
        </div>
    </div>

    </div>
    <script src="../resources/js/vue.js"></script>
    <script src="../resources/js/axios.min.js"></script>
    <script src="../resources/vue/listar-funcionarios.js"></script>
</body>

</html>