<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../favicon.png" />
    <title>Cadastrar um novo Funcionario</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/font-awesome.css">
</head>

<body>
    <div id="app">
        <div class="container2">

            <div class="header-titulo">
                <div v-if="atualizar != false">
                    <h1>Atualizar Funcionário</h1>
                </div>
                <div v-else>
                    <h1>Cadastro de Funcionário</h1>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-12">
                        <nav class="navbar navbar-light bg-light">
                            <form class="form-inline">
                                &nbsp; <a class="btn btn-primary"
                                    href="/funcionarios/pages/listar-funcionarios.html">Listar
                                    Funcionarios <span class="fa fa-list icon-espaco"></span></a>
                            </form>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="body-conteudo">
                <form>
                    <!--ALERT ERROS INICIO-->
                    <ul v-if="errors.length" style="list-style: none;">

                        <li class="alert alert-warning "><i class="fa fa-exclamation-triangle">&nbsp;</i>ATENÇÃO</li>

                        <li class="alerta error" role="alert" v-for="error in errors"><i
                                class="fa fa-exclamation-triangle">&nbsp;</i>{{ error }}</li>
                    </ul>
                    <!--ALERT ERROS FIM-->

                    <div class="row" v-if="funcionario.id != ''">
                        <div class="form-group col-sm-12 col-md-2 input-group-sm" input-group-sm>
                            <label for="codigo" class="control-label">Codigo</label> <input type="text"
                                class="form-control" id="codigo" v-model="funcionario.id" disabled />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 input-group-sm" input-group-sm>
                            <label for="nome" class="control-label">Nome</label> <input type="text"
                                class="form-control text-uppercase" id="nome" v-model="funcionario.nome"
                                required="true" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 input-group-sm">
                            <label for="email" class="control-label">E-mail</label> <input type="email"
                                class="form-control text-uppercase" id="email" v-model="funcionario.email" required />
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-sm-12 col-md-4 input-group-sm">
                            <label for="setor" class="control-label">Setor</label>

                            <div class="input-group mb-2">
                                <select class="custom-select custom-select-sm control-label" v-model="setorSelecionado">
                                    <option selected v-for="setor in listaSetores" v-bind:value="setor">{{setor.nome}}
                                    </option>
                                </select>

                                <div class="input-group-pospend">
                                    <!--MODAL-->
                                    &nbsp;
                                    <button type="button" class="btn btn-primary fa fa-plus-circle"
                                        v-on:click="openModelSalvarSetor"></button> &nbsp;
                                    <button v-if="setorSelecionado != ''" type="button"
                                        class="btn btn-danger fa fa-edit" v-on:click="openModelAtualizarSetor"></button>
                                </div>


                            </div>

                        </div>

                        <div class="form-group col-sm-12 col-md-4 input-group-sm ">
                            <label for="salario" class="control-label">Salário</label> <input type="number"
                                class="form-control" id="salario" v-model="funcionario.salario" />
                        </div>

                        <div class="form-group col-sm-12 col-md-4 input-group-sm">
                            <label for="idade" class="control-label">Idade</label> <input type="number"
                                class="form-control" id="idade" v-model="funcionario.idade" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-12 ">
                            <div v-if="atualizar != false">
                                <button type="button" class="btn btn-primary"
                                    v-on:click="atualizarFuncionario">Atualizar</button>
                            </div>
                            <div v-else>
                                <button type="button" class="btn btn-primary" v-on:click="checkForm">Salvar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--MODAL-->

            <div v-if="myModel">
                <transition name="modal">
                    <div class="modal-mask">
                        <div class="modal-wrapper">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" v-on:click="fecharModel">
                                        </button>
                                        <span aria-hidden="true" class="fa fa-close"> </span>
                                    </div>
                                    <div class="modal-body container3">

                                        <div class="row col-sm-12 col-md-12" v-if="setorAtualizado === false">
                                            <h3 class="center">Cadastro de Setor</h3>
                                        </div>

                                        <div class="row col-sm-12 col-md-12" v-else>
                                            <h3 class="center">Atualizar Setor</h3>
                                        </div>


                                        <div v-if="setorAtualizado != false" class="row col-sm-12 col-md-12">
                                            <label for="setor">Codigo</label>
                                            <input type="text" class="form-control text-uppercase" v-model="setor.id"
                                                disabled />
                                        </div>

                                        <div class="row col-sm-12 col-md-12">
                                            <label for="setor">Nome do Setor</label>
                                            <input type="text" class="form-control text-uppercase"
                                                v-model="setor.nome" />
                                        </div>

                                        <br>
                                        <div class="row col-sm-12 col-md-12">
                                            <div v-if="setorAtualizado === false">
                                                <button v-if="setor.nome != ''" class="btn btn-primary"
                                                    v-on:click="salvarSetor">Salvar</button>
                                            </div>

                                            <div v-else>
                                                <button v-if="setor.nome != ''" class="btn btn-primary"
                                                    v-on:click="atualizarSetor">Atualizar</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </transition>
            </div>

            <!-- FIM MODAL-->
        </div>
    </div>
    </div>
    <script src="../resources/js/vue.js"></script>
    <script src="../resources/js/axios.min.js"></script>
    <script src="../resources/vue/cadastro-de-funcionario.js"></script>


</body>

</html>