body {
    font-family: Helvetica, sans-serif;
    color: #404C51;
    margin: 0;
}

.container2 {
    max-width: 1170px;
    margin: 0 auto;
    padding: 15px 15px;
    margin-bottom: 22px;
}

.header-titulo {
    padding-top: 30px;
    padding-bottom: 20px;
}

.body-conteudo {
    padding-top: 30px;
}

h1 {
    font-family: Helvetica, arial, helvetica;
    color: #3A3A33;
    text-align: center;
    font-weight: bold;
}

label {
    font-weight: bold;
    font-size: small;
}

.center {
    text-align: center;
}

.icon-espaco {
    padding-left: 10px;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3 ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-body {
    padding: 30, 30, 30, 30;
}

.text-uppercase {
    text-transform: uppercase !important;
}

ul {
    list-style: none;
    padding: 0px;
}

.alerta {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 10px;
    font-size: 16px;
    display: inline-block;
}

.error {
    border-color: #f8d7da;
    color: #721c24;
    background-color: #f8d7da;
}

.sucesso {
    border-color: #87c940;
    color: #FFF;
    background-color: #a0d468;
}

.pesquisa {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 25px;
}

.container3 {
    max-width: 1170px;
    margin: 0 auto;
    padding: 5px 84px;
    margin-bottom: 22px;
}